body {
  font-family: sans-serif;
  width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: aqua;
  font-weight: bold;
  font-size: 24px;
}

a:hover {
  color: #28D5D5;
}

.thumbnail {
  height: 100px;
  width: 100px;
  margin-right: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.fake-thumbnail {
  height: 100px;
  width: 100px;
  margin-right: 30px;
  background-color: #eee;
  border-radius: 50%;
}

.post {
  box-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.5);
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.post:hover {
  box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}

/*.select-file-type {
  background-color: #333;
  position: fixed;
  left: 20px;
  height: 300px;
  width: 200px;

}*/
.select-file-type {
  position: fixed;
  left: 20px;
  margin: 0;
  width: 150px;
  overflow: hidden;
  background-color: #fff;
  background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;
}

.select-file-type select {
  background: #fff;
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select-file-type select:focus {
    outline: none;
}
