body {
  font-family: sans-serif;
  width: 600px;
  margin: 0 auto;
}

.thumbnail {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.fake-thumbnail {
  height: 100px;
  width: 100px;
  background-color: #eee;
  border-radius: 50%;
}

.post {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 5px;
}
